 /* globals */

 body {
   background-color: #FBFBFB;
   color: #4A4A4A;
 }

 .logo {
   width: 116px;
 }

 .twitter {
   height: 20px;
 }

/* typography */
h1,h2,h3 {
  font-family: 'Nunito', sans-serif;
  color: #4A4A4A;
}

h1,h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: 700;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #4A4A4A;
}

.code-link {
  font-weight: 700;
}

/* buttons */
.btn {
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  font-size: .8rem;
  padding: 1.25em 1.8em;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  
}

.btn--get {
  background-color: #35CEFF;
}

.btn--get:focus,
.btn--get:active,
.btn--get:active:focus,
.btn--get:hover {
  background-color: #35CEFF;
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn:hover {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn--download {
  color: #4A4A4A;
  font-weight: 700;
  border-radius: 10px;
}

.btn--download.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: 1px solid #4A4A4A;
  opacity: .5;
}

/* sections */
.features h4 {
  font-weight: 700;
}

.btn--download img {
  height: 2rem;
}

.btn--download h5 {
  margin-bottom: 0;
  text-transform: initial;
}

/* Alerts */
.alert--download {
  display: none;
}
