footer.container.pt-4.my-md-5.pt-md-5.border-top
  .row
    .col-12.col-md.text-center
      ul.list-inline
        li.list-inline-item
          a(href='./imprint.html') Imprint
        li.list-inline-item
          a(href='./terms.html') Terms of Use
        li.list-inline-item
          a(href='./privacy.html') Privacy
  .row
    .col-12.mb-3.text-center
      a(href='https://twitter.com/solar_wallet')
        img.twitter(src='./img/twitter.svg' alt='Twitter Logo')
        | @Solar_Wallet
  .row
    .col-12.mb-3.text-center
      a(href='https://satoshipay.io')
        | Made by 
        img.satoshipay(src='./img/satoshipay-logo.svg' alt='SatoshiPay')
  .row
    .col-12.col-md.text-center
      small.d-block.mb-3.text-muted &copy; 2019
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')