extends ../_layouts/main.pug

block content
  section.container.my-5
    .row.align-items-center
      .col-md-6.text-center.text-md-left
        h1.h1 Download is about to start&mldr;
        h2.h4 Installation file will be with you shortly
        a(href='https://docs.solarwallet.io') Read the guide &rarr;
      .col-md-6.text-center.text-md-left
        img.img-fluid(src='./img/solar-wallet-stellar-lumens-xlm.png' alt='Solar wallet screenshot')
