extends ../_layouts/main.pug

block content
  section.container.my-5
    .row.align-items-center
      .col-md-6.text-center.text-md-left
        h1 Imprint.
        p Solar Wallet is developed and operated by SatoshiPay Ltd.
        p
          | We are registered in England and Wales under registration number 
          strong 09366948
          | .
        p Our registered office and principal of business are located at
        p
          | Hill Dickinson Llp
          br
          |           The Broadgate Tower
          br
          |           20 Primrose Street
          br
          |           London, EC2A 2EW
          |           United Kingdom
        p
          | You can contact us by writing to the business address given above or by email to 
          a(href='mailto:feedback@satoshipay.io') feedback@satoshipay.io
          | .