extends ../_layouts/main.pug

block content
  section.container.my-5
    h1.c6
      span.c7.c14 Wallet Terms of Use
    .alert.alert-secondary.my-1.d-inline-block(role='alert')
      small LAST UPDATE: MARCH 07, 2019
    p
      | This is a binding Agreement between SatoshiPay Ltd and the person, persons, or entity (&ldquo;You&rdquo; or &ldquo;Your&rdquo;) using the website (&ldquo;Website&rdquo;) or service, Software, or application (&ldquo;Software&rdquo;).
    h2
      a#1_Definitions_2
      | 1. Definitions
    p The following definitions apply in these Conditions:
    p
      | SatoshiPay, we or us: SatoshiPay Ltd, a company incorporated and registered in England and Wales with company number 09366948, whose registered office and principal place is at Hill Dickinson Llp, The Broadgate Tower, 20 Primrose Street, London, EC2A 2EW, United Kingdom;
    p
      | Solar, Solar Wallet, the Wallet: an open source, non-custodial (meaning the cryptographic keys of the user is stored on user&rsquo;s own device) wallet software to be used for transactions on the Stellar network.
    p
      | Stellar, Stellar network: a decentralized ledger system managed by the Stellar Development Foundation.
    h2
      a#2_Disclaimer_12
      | 2. Disclaimer
    p
      | IF YOU LOSE ACCESS TO YOUR WALLET OR YOUR ENCRYPTED PRIVATE KEYS AND YOU HAVE NOT SEPARATELY STORED A BACKUP OF YOUR WALLET AND CORRESPONDING PASSWORD, YOU ACKNOWLEDGE AND AGREE THAT ANY CRYPTOCURRENCY YOU HAVE ASSOCIATED WITH THAT WALLET WILL BECOME INACCESSIBLE. All transaction requests are irreversible. The authors of the Software, employees and affiliates of SatoshiPay, copyright holders, and SatoshiPay Ltd cannot retrieve Your private keys or passwords if You lose or forget them and cannot guarantee transaction confirmation as they do not have control over the network.
    p
      | The Solar wallet source code is published under the GNU Public License, which contains the below disclaimer reprinted here for convenience:
    p
      | THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY APPLICABLE LAW.  EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM &ldquo;AS IS&rdquo; WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU.  SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
    h2
      a#3_Terms_of_Use_20
      | 3. Terms of Use
    p
      | SatoshiPay provides the Software solely on the terms and conditions set forth in this Agreement and on the condition that You accept and comply with them. By using the Software You (a) accept this Agreement and agree that You are legally bound by its terms; and (b) represent and warrant that: (i) You are of legal age to enter into a binding agreement; and (ii) if You are a corporation, governmental organization or other legal entity, You have the right, power and authority to enter into this Agreement on behalf of the corporation, governmental organization or other legal entity and bind them to these terms.
    p
      | This Software functions as a free, open source, and multi-signature digital wallet. The Software does not constitute an account where We or other third parties serve as financial intermediaries or custodians of Your Stellar assets.
    p
      | While the Software has undergone through testing and continues to be improved by feedback from the open source user and developer community, We cannot guarantee the Software to be entirely free of bugs. You acknowledge that Your use of this Software is at Your own discretion and in compliance with all applicable laws. You are responsible for safekeeping Your passwords, private key pairs, PINs, and any other codes You use to access the Software.
    h2
      a#4_Cryptocurrency_Risks_28
      | 4. Cryptocurrency Risks
    p
      | Cryptocurrency assets are subject to high market risks and volatility. Past performance is not indicative of future results. Investments in blockchain assets may result in loss of part or all of your investment. Please do your own research and use caution. You are solely responsible for your actions on the Stellar network. SatoshiPay is not responsible for your investment losses. Cryptocurrency assets and the Stellar &ldquo;decentralized exchange&rdquo; are unregulated and does not have governmental oversight.
    h2
      a#5_The_Stellar_Network_separate_from_Solar_Wallet_32
      | 5. The Stellar Network (separate from Solar Wallet)
    p
      | Solar Wallet is not an exchange. Solar Wallet is only a user interface to Stellar and does not operate the Stellar network. Solar Wallet is unable to control the actions of others on the Stellar network. When using Solar Wallet, you are directly communicating with the Horizon Stellar API operated by Stellar Development Foundation. Transactions on the Stellar network are irreversible.
    h2
      a#6_Solar_Wallet_does_not_Endorse_Anything_36
      | 6. Solar Wallet does not Endorse Anything
    p
      | Solar Wallet does NOT endorse ANY asset on the Stellar network. Asset &ldquo;listings&rdquo; on Solar Wallet are NOT endorsements. Solar Wallet is a software client ONLY and does NOT conduct any independent diligence or review of any asset. Stellar is an open system meaning that scams and market manipulators may exist. Prices shown on Solar Wallet are for informational purposes and do not imply that they can actually be redeemed for a certain price.
    h2
      a#7_Your_Own_Responsibilities_40
      | 7. Your Own Responsibilities
    p
      | You, the user, are solely responsible for ensuring your own compliance with laws and taxes in your jurisdiction. Cryptocurrencies may be illegal in your area. You, are solely responsible for your own security including keeping your account secret keys safe and backed up.
    h2
      a#8_Thirdparty_Products_and_Services_44
      | 8. Third-party Products and Services
    p
      | We may provide links on our Website or in the Solar Wallet to websites or services of other companies. SatoshiPay does not provide those third-party services. These links are provided solely as a convenience to you and not as an endorsement by SatoshiPay of such third-party websites or services. SatoshiPay is not responsible for the content of any third-party website nor the operation of such service, nor does it make any representation or warranty of any kind regarding any third-party website or service.
    h2
      a#9_General_48
      | 9. General
    h3
      a#91_Governing_Law_and_Jurisdiction_50
      | 9.1. Governing Law and Jurisdiction
    p
      | This Agreement is governed by, and shall be construed in accordance with, English law. The courts of England have exclusive jurisdiction to hear and decide any suit, action or proceedings, and to settle any disputes, which may arise out of or in connection with this Agreement and, for these purposes, each party irrevocably submits to the jurisdiction of the courts of England.
    h3
      a#92_Waivers_54
      | 9.2. Waivers
    p
      | Unless expressly agreed, no variation shall constitute a general waiver of any provisions of this Agreement, nor shall it affect any rights, obligations or liabilities under or pursuant to this Agreement which have already accrued up to the date of variation and the rights and obligations of the parties under or pursuant to this Agreement shall remain in full force and effect, except and only to the extent that they are so varied.
    h3
      a#93_Assignment_58
      | 9.3. Assignment
    p
      | The Content Provider shall not assign, transfer, mortgage, charge, subcontract, delegate, declare a trust over or deal in any other manner with any of its rights and obligations under the Agreement. SatoshiPay may at any time assign, mortgage, charge, subcontract, delegate, declare a trust over or deal in any other manner with any or all of its rights and obligations under the Agreement.
    h3
      a#94_Communication_62
      | 9.4. Communication
    p
      | Unless any applicable law, regulatory requirement or mandatory standards or codes of practice of any competent authority require an alternative method of communication, you agree that SatoshiPay may electronically provide or make available to you (as relevant) any communication as contemplated by this Agreement by posting it or making it otherwise available on the Solar wallet website at 
      a(href='https://solarwallet.io') https://solarwallet.io
      | .
    h3
      a#95_Changes_66
      | 9.5. Changes
    p We may change or add to these Conditions at any time.
    h3
      a#96_Severability_70
      | 9.6. Severability
    p
      | If any provision of this Agreement (or part of a provision) is found by any court or administrative body of competent jurisdiction to be invalid, unenforceable or illegal, that provision shall, to the extent required, be deemed not to form part of this Agreement, and the other provisions shall remain valid, legal and enforceable.
    h3
      a#97_Indemnification_74
      | 9.7. Indemnification
    p
      | You agree to indemnify and hold harmless SatoshiPay and its respective directors, officers, employees and agents against any and all claims, costs, losses, damages, judgment, tax assessments, penalties, interest and expenses arising out of any claim, action, audit, investigation or other proceeding instituted by a person or entity that arises out of or relates to: (a) any actual or alleged breach of your representations, warranties, or obligations set out in this Agreement; (b) your wrongful or improper use of the Services and/or &copy; your violation of any applicable law.
    h3
      a#98_Entire_Agreement_78
      | 9.8. Entire Agreement
    p
      | This Agreement, including the Privacy Policy provided on our website represent the entire agreement between the parties in relation to its subject matter and supersedes all previous representations, communications, negotiations, agreements and understandings between the parties relating to its subject matter which shall cease to be of force and effect. Each party acknowledges that it has not relied on, and waives all rights or remedies in respect of any warranty, representation, statement, collateral contract or assurance (whether made negligently or innocently) except as expressly set out in this Agreement. Nothing in this clause shall limit or exclude any liability for, or remedy in respect of, fraud.